In [6]:
from datascience import *
from pandas import read_stata
import numpy as np
from pygrowup import Calculator

import matplotlib
matplotlib.use('Agg', warn=False)
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

data = Table.read_table('../Ronnie/Lab_7.csv')
data

Household ID | Individual ID | Day of Birth | Month of Birth | Birth Year | Age  | Sex  | height | weight | Relationship to HH Head | Mother ID | Father ID | Education Level | Edu Class | Master ID   | Day of Interview | Month of Interview | Year of Interview | Days Old | Years Old | Months Old | Master ID2 | Annualized sum | 4002 | 4005 | 4006 | 4007 | 4008 | 4010 | 4013 | 4014 | 4016 | 4024
20111642     | 3             | 3            | 7              | 1976       | 31   | 2    | -99    | -99    | 9                       | -99       | -99       | 2               | 5         | 20111642003 | 10               | 7                  | 2007              | 11329.8  | 31.0404   | 372.485    | 2011164203 | -99            | 0    | 1    | 0    | 0    | 0    | 0    | 0    | 1    | 0    | 1
20111642     | 4             | 10           | 9              | 1995       | 11   | 2    | -99    | -99    | 5                       | 3         | 2         | -99             | -99       | 20111642004 | 10               | 7                  | 2007              | 4322     | 11.8411   | 142.093    | 2011164204 | -99            | 0    | 1    | 0    | 0    | 0    | 0    | 0    | 1    | 0    | 1
20111642     | 5             | 20           | 4              | 1997       | 10   | 1    | -99    | -99    | 5                       | 3         | 2         | -99             | -99       | 20111642005 | 10               | 7                  | 2007              | 3734     | 10.2301   | 122.762    | 2011164205 | -99            | 0    | 1    | 0    | 0    | 0    | 0    | 0    | 1    | 0    | 1
20111642     | 6             | 26           | 12             | 1999       | 7    | 1    | -99    | -99    | 5                       | 3         | 2         | -99             | -99       | 20111642006 | 10               | 7                  | 2007              | 2753.5   | 7.54384   | 90.526     | 2011164206 | -99            | 0    | 1    | 0    | 0    | 0    | 0    | 0    | 1    | 0    | 1
20111642     | 7             | 17           | 1              | 2000       | 7    | 1    | -99    | -99    | 5                       | 3         | 2         | -99             | -99       | 20111642007 | 10               | 7                  | 2007              | 2732.75  | 7.48699   | 89.8438    | 2011164207 | -99            | 0    | 1    | 0    | 0    | 0    | 0    | 0    | 1    | 0    | 1
20111642     | 8             | 26           | 5              | 2002       | 5    | 1    | 105.9  | 22.6   | 5                       | 3         | 2         | -99             | -99       | 20111642008 | 10               | 7                  | 2007              | 1871.25  | 5.12671   | 61.5205    | 2011164208 | -99            | 0    | 1    | 0    | 0    | 0    | 0    | 0    | 1    | 0    | 1
20111642     | 9             | 5            | 1              | 2005       | 2    | 2    | 80.5   | 9.5    | 5                       | 3         | 2         | -99             | -99       | 20111642009 | 10               | 7                  | 2007              | 918.5    | 2.51644   | 30.1973    | 2011164209 | -99            | 0    | 1    | 0    | 0    | 0    | 0    | 0    | 1    | 0    | 1
20111642     | 10            | 12           | 4              | 2006       | 1    | 2    | 70.3   | 7.1    | 5                       | 3         | 2         | -99             | -99       | 20111642010 | 10               | 7                  | 2007              | 454.75   | 1.24589   | 14.9507    | 2011164210 | -99            | 0    | 1    | 0    | 0    | 0    | 0    | 0    | 1    | 0    | 1
20113642     | 1             | 13           | 4              | 1966       | 41   | 1    | -99    | -99    | 1                       | -99       | -99       | -99             | -99       | 20113642001 | 10               | 7                  | 2007              | 15063.8  | 41.2705   | 495.247    | 2011364201 | -99            | 0    | 1    | 0    | 0    | 0    | 0    | 0    | 1    | 0    | 1
20113642     | 2             | 1            | 1              | 1969       | 38   | 2    | -99    | -99    | 2                       | -99       | -99       | -99             | -99       | 20113642002 | 10               | 7                  | 2007              | 14071.5  | 38.5521   | 462.625    | 2011364202 | -99            | 0    | 1    | 0    | 0    | 0    | 0    | 0    | 1    | 0    | 1
... (23002 rows omitted)

In [ ]:
data.where('Sex', 1)

In [7]:
c1 = data.where(data['Age (Years)'] >= 22)
np.logical_and(data)

KeyError: 'Age (Years)'

# Education
In Lab 5 we looked at education of parents and how this correlated with child height.  Now let's look at children's education since its an important aspect of children's development.

We cleaned up the columns of mother's and father's years of schoolling back in Lab 5.  Now, in the same way, let's clean up the years of schooling column.  Remember there may be special codes for things like technical school, or college.  You can re-adjust these values to better align with the actual number of years of school.  It is ok to make an educated guess here about how many years that would be.

Though we haven't studied the countries' education system, we can learn a lot from the data.  
<font color="Blue"> Item 1: For adults over age 22, make a histogram of years of schooling.  What do you think the spikes correspond to?  Confirm this with a little internet research on your countries' schooling system.

These spikes are sometimes called "natural levels".  To do cross country comparisons it does not make sense to use years of schooling if high school is 11 years in one country but 12 in another.  Instead, we use these "natural levels."  

For all individuals in the data, not just those over age 22, make a new column in your data table that will indicate which natural level the individuals have acheived: None, Intermediate Primary, Primary, Intermediate Secondary, Secondary, and Higher Education.  The intermediate categories may be spikes of their own.  For example, Primary is 8th grade but Intermediate Primary is 3rd grade. In this case, someone who has completed 7th grade would be categorized into the Intermediate Primary category since they have not completed 8th grade.

<font color="Blue"> Item 2: compare education levels of women to men over age 22 using a numerical assessment or a visual one.  You can decide what method you think shares this information best.

Now we will explore children's schooling.  First we will see what portion of children are "behind" in school. <font color="Blue"> You may need to make a new coluumn with years in school if the schooling data has two variables: level of school and year in school.  Item 3: For each age between 5 & 18, determine which grade most of the children are in.

If any of the kids are 2 grades or more behind the modal grade, we will consider them to be delayed.  Make a new column 'Delayed' with 0 being not delayed and 1 being delayed.  Adults over age 20 and children age 7 and under can be coded with -99.

<font color="Blue"> Item 4: For each age between 7 & 18, determine what portion are delayed.

Save your data (complete for all individuals) with the new columns: Natural Levels Codes & Delayed (Hopefully Years of Schooling is already a column.)

<font color="Blue"> Item 5: To compare delays by gender, let's make a scatter plot.  Put age on the x axis, percent delayed on y axis, and color the dots differently for girls and boys.  Do any patterns emerge?

<font color="Blue"> Challenge Item: Now let's see if there seems to be any preference for first borns or youngest children getting educated.  Repeat above but just looking at boys who are the oldest or youngest in the family.  A new column will take on the value of 1 or 0 for oldest or youngest.  Now instead of having boys & girls being the different color dots, have oldest or youngest.